{% extends 'accounts/base.html' %}

{% block head %}
    <title>Password Reset Pending</title>
{% endblock %}

{% block body %}
<!-- <h1> Password Reset Pending! </h1>
    <h2> Check Your Email to get password reseting details!</h2>
     <b> Do you have OTP?</b>
    <a href="{% url 'password_reset_otp' %}"> click here </a> -->






        <div class="container">
        <div class="card mt-5">
            <h4 class="card-header">Password Reset Pending!</h4>
            <div class="card-body">

           <div class="col-lg-10 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">

              {% load static %}
              <div class="brand-logo">
                <img src="{% static 'accounts/images/webkrone_logo1.png' %}" alt="logo">
              </div>


              			<h2 class="font-weight-light">Check Your Email to get password reseting details! </h2>
              		    <form method="POST" class="form-group" action="{% url 'password_forget' %} ">
              		    	    <b> Do you have OTP?</b>
                                <a href="{% url 'password_reset_otp' %}"> click here </a>

					    </form>
					    
                        <a href="{% url 'login' %}">Login again  </a>  ||
                        <a href="{% url 'home' %}">Home</a>








{% endblock %} 