{% extends 'accounts/base.html' %}

{% block head %}
<title>Password Reset</title>
{% endblock %}

{% block body %}
<!--
<h1> Password Reset! </h1>
<h2> Enter your new password. </h2>
<form method="POST" class="form-group" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Reset Password</button>
</form>
-->

<div class="container">
    <div class="card mt-5">
        <h4 class="card-header"> Password Reset!</h4>
        <div class="card-body">

            <div class="col-lg-10 d-flex align-items-center justify-content-center">
                <div class="auth-form-transparent text-left p-3">

                    {% load static %}
                    <div class="brand-logo">
                        <img src="{% static 'accounts/images/webkrone_logo1.png' %}" alt="logo">
                    </div>

                    <h4>Secure your Account:</h4>
                    <h6 class="font-weight-light">Reset your password.</h6>


                    <form method="post" action="{% url 'password_reset' %}">
                        {% csrf_token %}
                        <table class="table table-bordered">
                            {{ form.as_p }}


                            <td colspan="2">
                                <button class="btn btn-primary">Reset Password</button>
                            </td>
                            </tr>

                        </table>
                        <a href="{% url 'home' %}">Home</a> <br>
                        <b> Create account </b><a href="{% url 'signup' %}">Click Here</a>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %} 