{% extends 'shop/base.html' %}

{% block title %} Signup Lite {% endblock %}

{% block content %}
<!--h1> Sign Up Lite! </h1-->

<section id="form"><!--form-->
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="login-form"><!--sign up lite form-->
                    <h2>New User Lite Signup!</h2>
                    <form method="post" action="{% url 'accounts:signuplite' %}">
                        {% csrf_token %}
                        {{ form.as_table }}
                         <br>
                        <span>
								<input type="checkbox" class="checkbox" name="agree" id="">
                                <strong> I agree to all Terms & Conditions </strong>
						</span>
                         <br><br>
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                    <br>
                    <b> Aready Member? </b><a href="{% url 'accounts:login' %}">Login</a> <br>
                    <b> Full Register </b><a href="{% url 'accounts:signup' %}">Click Here</a>
                </div><!--/sign up lite form-->
            </div>

        </div>
    </div>
</section><!--/form-->

{% endblock %}

