{% extends 'shop/base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}
<!--h1> Sign Up! </h1-->

<section id="form"><!--form-->
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Full Signup!</h2>
                    <form method="post" action="{% url 'accounts:signup' %}">
                        {% csrf_token %}
                        {{ form.as_table }}
                        <br>
                        <span>
								<input type="checkbox" class="checkbox" name="agree" id="">
                                <strong> I agree to all Terms & Conditions </strong>
						</span>
                         <br><br>

                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                    <br>
                    <b> Aready Member? </b><a href="{% url 'accounts:login' %}">Login</a> <br>
                    <b> Lite Register </b><a href="{% url 'accounts:signuplite' %}">Click Here</a>
                </div><!--/sign up form-->
            </div>

        </div>
    </div>
</section><!--/form-->

{% endblock %}

